/* Import Googlt Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@400;500;600;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    
    font-family: "Nunito";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100vh;
    background: #5e63ba;
}
.love-logo {
    text-align: center;
    padding-bottom: 50px;
    color: #fff;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 00.20em;

}
.container {
    width: 800px;
    max-width: 100%;
    background: #fff;
   
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 50px 40px;
    border-radius: 10px;
}
.logo-box h1 {
    text-align: center
    
}

.btn {
            display: grid;
            grid-template-columns: repeat(1,auto);
            gap: 50px;
            margin-left: 50px;
}
.control-btn, #start-btn {
    background-color:#5e63ba;
    border: 1px solid #353a9b;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.20em;
}
.control-btn:hover {
    background-color: #353a9b;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
--------------------------------------------------------
.logo-box h1 {
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.logo-box img {
    max-width: 270px;

}

.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.word-display .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid #000
}

.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}

.game-box .guesses-text {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 15px
}

.game-box .guesses-text b {
    color: #ff0000;
}

.game-box .keyboard {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

:where(.game-modal, .keyboard) button {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: #5e63ba;
    border-radius: 4px;
    text-transform: uppercase;

}

.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}

.keyboard button[disabled] {
    opacity: 0.6;
    pointer-events: none;
}

:where(.game-modal, .keyboard) button:hover {
    background-color: #8286c9;
}

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
}

.game-modal.show {
    opacity: 1;
    pointer-events: auto;
}

.game-modal .content {
    background: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.game-modal img {
    max-width: 130px;
}

.game-modal h4 {
    font-size: 1.53rem;
}

.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-modal p b {
    color: #5e63ba;
    font-weight: 600;
}

.game-modal button {
    padding: 12px 23px;
}

--------------------------------------------------------------------------
.full-width {
    width: 100%;
}



.progress-text {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
}

li {
    display: inline-block;
    margin-right: 2em;
    width: 6em;
}

.numbers {
    display: block;
    font-family: sans-serif;
    font-size: 60px;
    line-height: 1.5;
    margin: 0 auto;
}

.name {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -25px;
}

#progressBar {
    width: 90%;
    margin: 10px auto;
    height: 22px;
    background-color: #efd0d0;
}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px;
    /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background: linear-gradient(to right, #d05656, #050ebf);
    box-sizing: border-box;
}








@media (max-width: 782px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }

    .logo-box img {
        max-width: 200px;
    }
}


















