/* Import Googlt Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@400;500;600;700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100vh;
  background: #5e63ba;
}

.love-logo {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 00.2em;
  text-decoration: none;
}

.love-logo :hover {
  color: #353a9b;
}
.container {
  
  background: #fff;
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 30px 40px;
border-radius: 10px;
}

.logo-box h2 {
  text-align: center;
}
/*Dynamic keyboard buttons*/
.button {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 50px;
  margin-left: 50px;
}

/*Control Buttons*/
.control-btn {
  width: 183px;
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 50px;
  background-color: #5e63ba;
  border: 1px solid #353a9b;
  border-radius: 5px;
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-decoration: none;
 margin-top: 20px;
 margin-bottom: 20px;
 cursor: pointer;
}
.controls a {
    text-decoration: none;
    color: #fff;
}

.control-btn:hover {
  background-color: #353a9b;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo-box h1 {
  font-size: 1.45rem;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.logo-box img {
  max-width: 270px;
}

.word-display {
  display: flex;
padding-top: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.word-display .letter {
  width: 28px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-bottom: 3px solid #000;
}

.word-display .letter.guessed {
  border-color: transparent;
  margin: -40px 0 35px;
}

.game-box .guesses-text {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.game-box .guesses-text b {
  color: #ff0000;
}

.game-box .score {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  padding-top: 15px;
}

.game-box .score b {
  color: #ff0000;
}

.game-box .keyboard {
  display: flex;
  gap: 5px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

:where(.game-modal, .keyboard, .instructions) button {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  background: #5e63ba;
  border-radius: 4px;
  
}

.keyboard button {
  padding: 7px;
  width: calc(100% / 9 - 5px);
  text-transform: uppercase;
}

.keyboard button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

:where(.game-modal, .keyboard, .instructions) button:hover {
  background-color: #8286c9;
}

.game-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.4s ease;
}

.game-modal.show {
  opacity: 1;
  pointer-events: auto;
}

.game-modal .content {
  background: #fff;
  max-width: 420px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}

.game-modal img {
  max-width: 130px;
}

.game-modal h4 {
  font-size: 1.53rem;
}

.game-modal p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}

.game-modal p b {
  color: #5e63ba;
  font-weight: 600;
  text-transform: uppercase;
}

.game-modal button {
  padding: 12px 23px;
}

.instructions {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 10%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease;
}

.instructions-wrapper {
  background: #fff;
  max-width: 420px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin:auto
}
.instructions-wrapper p {
  font-size: 14px;
  text-align: left;
  padding-bottom: 10px;
}

.instructions-wrapper img {
  max-width: 110px;
}

.instructions-list a {
    text-decoration: none;
    font-weight: 700;
}
/* The Close Button */
#close-btn {
padding: 12px 23px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.progress-text {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

p {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
}

li {
  display: inline-block;
  margin-right: 1rem;
  width: 1em;
}

.numbers {
  display: block;
  font-family: sans-serif;
  font-size: 60px;
  line-height: 1.5;
  margin: 0 auto;
}

.name {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -25px;
}

#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #efd0d0;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px;
  width: 0;
  background: linear-gradient(to right, #d05656, #050ebf);
  box-sizing: border-box;
}

/*Leader Board Styling*/
.finalscore {
  position: flex;
  text-align: center;
}

@media (max-width: 765px) {
  .container {
    flex-direction: column;
    padding: 20px 10px;
    align-items: center;
  }

  .button {
    margin: 5px;
  }

  .logo-box img {
    max-width: 200px;
  }
  .progress-text {
    font-size: 0.5rem;
  }
  .logo-box h1 {
    margin-top: 0px;
  }
  .love-logo {
    display: none;
  }
.word-display .letter {
    margin-bottom: 20px;
}
}