/* Import Googlt Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@400;500;600;700&family=Roboto&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100vh;
    background: #5e63ba;
}
.love-logo {
    text-align: center;
    padding-bottom: 50px;
    color: #fff;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 00.20em;

}
.container {
    width: 700px;
    max-width: 100%;
    background: #fff;
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 50px 40px;
    border-radius: 10px;
}
.logo-box h1 {
    text-align: center
    
}

.btn {
            display: grid;
            grid-template-columns: repeat(1,auto);
            gap: 50px;
            margin-left: 50px;
}
.control-btn {
    background-color:#5e63ba;
    border: 1px solid #353a9b;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25em;
}
.control-btn:hover {
    background-color: #353a9b;
}









.hide {
    display: none;
}